{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% load honeypot %}

{% block content %}

{% include '_includes/page_header.html' %}

<style>
    .errF{
        position: absolute;
        bottom: -15px;

        font-size: 13px;
        color: rgb(201, 98, 87);
        display: block;
    }
</style>

<section class="contact-info section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Email Us</p>
                            <h4>info@techonlearning.com</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Make a Call</p>
                            <h4>+509 3135 6094</h4>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="contact-item">
                            <p>Corporate Office</p>
                            <h4> 142 Ave Panamericaine, Petion Ville </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form class="contact__form form-row" method="POST" action="{% url 'contact:home' %}" id="contactForm">{% csrf_token %}
                    {% if messages %}
                    <div  style="padding-bottom: 20px; width: 100%;">
                        <div class="alert {% for msg in messages %}{% if msg.tags == 'success' %} alert-success {% elif msg.tags == 'error' %} alert-danger {% endif %}{% endfor %} contact__msg" role="alert" style="width: 100%;">
                            {% for msg in messages %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.first_name }}
                                {% if form.first_name.errors %}<div class="errF"> <p> {{ form.first_name.errors }} </p> </div>{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form.last_name }}
                                {% if form.last_name.errors %}<div class="errF"> <p> {{ form.last_name.errors }} </p> </div>{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.email }}
                                {% if form.email.errors %}<div class="errF"> <p> {{ form.email.errors }} </p> </div>{% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.subject }}
                                {% if form.subject.errors %}<div class="errF"> <p> {{ form.subject.errors }} </p> </div>{% endif %}
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.message }}
                                {% if form.message.errors %}<div class="errF"> <p> {{ form.message.errors }} </p> </div>{% endif %}
                            </div>
                        </div>
                    </div>

                    {% render_honeypot_field "check_name" %}
                    <div class="col-lg-12">
                        <div class="mt-4 text-right">
                            <button class="btn btn-main" type="submit">Send Message <i class="fa fa-angle-right ml-2"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}