{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% load honeypot %}

{% block content %}

{% include '_includes/page_header.html' %}

<section class="contact-form-cos section-padding">
    <div class="container">
        <div class="cf_box_ring">
            <form action="" method="post" class="cf_form">{% csrf_token %}
                {% if messages %}
                    <div  style="padding-bottom: 20px; width: 100%;">
                        <div class="alert {% for msg in messages %}{% if msg.tags == 'success' %} alert-success {% elif msg.tags == 'error' %} alert-danger {% endif %}{% endfor %} contact__msg" role="alert" style="width: 100%;">
                            {% for msg in messages %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% for field in form %}
                <!-- Punaise -->
                <div class="cf_form_group">
                    <label for="{{ field.id_for_label }}" class="cf_form_group_label"> {{ field.label }} </label>
                    <div class="cf_form_group_field">
                        {{ field }}
                        {% if field.errors %}<div class="errF">{{ field.errors }}</div>{% endif %}
                    </div>
                </div>
                {% endfor %}
                {% render_honeypot_field "check_name" %}

                <div class="notice_legal">
                    <p>
                        P.S. We are not selling your data, your privacy is key to us.
                    </p>
                </div>

                <!-- BTN -->
                <div class="cf_form_group_btn">
                    <button class="cf_form_group_field_button"> Submit </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}