{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block content %}

<style>
    .video-section:after{
        background-image: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/cta-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .team-2{
        background-image: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/gray-bg.png");
    }
    .counter-section:before {
        background: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/bg-do2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<!-- Banner Start -->
<section class="banner-style-8">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-6">
                <div class="banner-content">
                    <span class="subheading">Learn from professionals</span>
                    <h1>Build skills with courses flexible online courses</h1>
                    <p>We invest in personnel, technological innovations and infrastructure and have established regional and international offices.</p>
                    <a href="{% url 'contact:student' %}" class="btn btn-main">Join For Free</a>  
                </div>
            </div>

            <div class="col-xl-6">
                <div class="banner-img">
                    <img src="http://themeturn.com/tf-db/edutim/edutim/assets/images/banner/banner-8.png" alt="" class="img-fluid">
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- Feature start -->
<section class="feature-2  mt--100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-badge2"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Expert Teacher</h4>
                        <p>Behind the word mountains, far from the countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-article"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Quality Education</h4>
                        <p>Behind the word mountains, far from the countries </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-headset"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Life Time Support</h4>
                        <p>Behind the word mountains, far from the countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-rocket2"></i>
                    </div>
                    <div class="feature-text">
                        <h4>HD Video</h4>
                        <p>Behind the word mountains, far from the countries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About US -->
<section class="about-section section-padding about-2" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img2">
                    <img src="http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/choose.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Who we are</span>
                    <h3>Learn new skills to go ahead for your career</h3>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores excepturi explicabo esse nisi molestias molestiae magni porro magnam, 
                    iusto sunt aliquid necessitatibus optio quod iste facilis similique eos voluptatum sint?</p>

                <a href="{% url 'contact:student' %}" class="btn btn-main">Learn More</a>
                
            </div>
        </div>
    </div>
</section> 

<!-- Counter -->
<section class="counter-wrap section-padding counter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-desktop"></i>
                    <div class="count">
                        <span class="counter h2">{{ count_teacher_obj }}</span>
                    </div>
                    <p>Expert Instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-agenda"></i>
                    <div class="count">
                        <span class="counter h2">{{ count_courses_obj }}</span>
                    </div>
                    <p>Total Courses</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">         
                <div class="counter-item">
                    <i class="ti-heart"></i>
                    <div class="count">
                        <span class="counter h2">27</span>
                    </div>
                    <p>Happy Students</p>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-microphone-alt"></i>
                    <div class="count">
                        <span class="counter h2">3</span>
                    </div>
                    <p>Creative Events</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  ABout start -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row align-items-center">
             <div class="col-lg-6 col-md-12">
               <div class="about-img">
                   <img src="http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/2-2.png" alt="" class="img-fluid">
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Top Categories</span>
                    <h3>Learn new skills to go ahead for your career</h3>
                </div>

                <div class="about-content">
                    <div class="about-text-block">
                        <i class="bi bi-film"></i>
                        <h4>Details Video tutorial</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicin gelit</p>
                    </div>

                     <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>World Class Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicin gelit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- Courses -->
<section class="section-padding popular-course bg-grey" style="background: rgba(var(--co-a-rgb), 1); padding-bottom: 100px;">
    <div class="container">
        <div class="row align-items-center white-text">
            <div class="col-lg-6">
                <div class="section-heading">
                    <span class="subheading">Top Trending Courses</span>
                    <h3>Our Popular Online Courses</h3>
                </div>
            </div>
        </div>

        <div class="row">
            {% for i in latest_courses_obj %}
            <div class="col-lg-4 col-md-6">
                {% include '_includes/courses.box-1.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if teacher_obj %}
<!--  Course INstructors -->
<section class="team section-padding bg-grey" id="team">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <span class="subheading">Best Expert Trainer</span>
                    <h3>Our Professional trainer</h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="course-btn text-lg-right"><a href="{% url 'contact:teacher' %}" class="btn btn-main"><i class="fa fa-user mr-2"></i> Become a teacher</a></div>
            </div>
        </div>

        <div class="row">
            {% for i in teacher_obj %}
                {% if i.courses_teacher_rel.all %}
                <div class="col-lg-3 col-md-6">
                    {% include '_includes/team.box.html' %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if testimonials_obj %}
<!-- Testimonials -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading text-center">
                    <span class="subheading">Testimonials</span>
                    <h3>Learn New Skills to Go Ahead for Your Career</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonials-slides owl-carousel owl-theme">

                    {% for i in testimonials_obj %}
                    <!-- Punaise -->
                    <div class="review-item">
                        <div class="client-info">
                            <i class="bi bi-quote"></i>
                            <p>{{ i.message | truncatechars:230 }} </p>
                            <div class="rating">
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{{ i.avatar_thumb_small.url }}" alt="{{ i.name }} - Techonlearning" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>{{ i.name }} </h4>
                                <span class="designation">{{ i.title }} </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}