{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block content %}

<style>
    .video-section:after{
        background-image: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/cta-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .team-2{
        background-image: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/gray-bg.png");
    }
    .counter-section:before {
        background: url("http://themeturn.com/tf-db/edutim/edutim/assets/images/bg/bg-do2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

{% for i in latest_courses_obj_1st %}
<!-- Banner Start -->
<section class="banner-left banner-6" style="background: rgba(var(--co-rgb), .1);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="banner-content">
                    <span class="subheading"> Latest Course </span>
                    <h1> {{ i.name }} </h1>
                    <p> {{ i.introduction | truncatechars:150 }} </p>
                    <a href="{{ i.get_absolute_url }}" class="btn btn-main"> Learn more <i class="fa fa-angle-right ml-2"></i></a>  
                </div>
            </div>

            <div class="col-lg-6 col-xl-6">
                <div class="banner-img3">
                    <div class="img-block">
                        <img src="{{ i.cover_thumb_small.url }}" alt="{{ i.name }} - Techonlearning" class="img-fluid" style="pointer-events: none;">
                    </div>

                    <div class="banner-shape-1"></div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
{% endfor %}

<!-- Feature start -->
<section class="feature-2 section-padding">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-badge2"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Expert Teacher</h4>
                        <p>we take pride in our team of expert instructors who are dedicated to helping you master your skills. With their exceptional qualifications and passion for teaching </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-article"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Quality Education</h4>
                        <p> Our instructors hold advanced degrees and certifications, equipping them with the necessary knowledge and expertise to deliver high-quality instruction </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-headset"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Life Time Support</h4>
                        <p> Your learning journey doesn't end with the completion of a course. With Tech On Learning, you receive lifetime support from our expert instructors </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item feature-style-2">
                    <div class="feature-icon">
                        <i class="bi bi-rocket2"></i>
                    </div>
                    <div class="feature-text">
                        <h4>HD Video instruction</h4>
                        <p> Our instructors utilize cutting-edge video production techniques to deliver crystal-clear instruction, ensuring that you can follow along with ease and grasp even the most complex Excel once </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About US -->
<section class="about-section section-padding about-2" style="background: rgba(var(--co-rgb), .1);" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img2">
                    <img src="{% static 'site/media/img/Brown-v.-board.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Who we are</span>
                    <h3> Learn new skills to go ahead for your career </h3>
                </div>

                <p>
                    Invest in your future with Tech On Learning and acquire the new skills necessary to take your career to the next level. Our relevant courses, expert instructors, flexible learning options, practical experience, networking opportunities, and career support will empower you to achieve your professional goals. Don't wait any longer—start learning new skills today and unlock a world of career opportunities!
                </p>

                <a href="{% url 'contact:student' %}" class="btn btn-main"> Become a student </a>
                
            </div>
        </div>
    </div>
</section> 

<!-- Counter -->
<section class="counter-wrap section-padding counter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-desktop"></i>
                    <div class="count">
                        <span class="counter h2">{{ count_teacher_obj }}</span>
                    </div>
                    <p>Expert Instructors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-agenda"></i>
                    <div class="count">
                        <span class="counter h2">{{ count_courses_obj }}</span>
                    </div>
                    <p>Total Courses</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">         
                <div class="counter-item">
                    <i class="ti-heart"></i>
                    <div class="count">
                        <span class="counter h2">27</span>
                    </div>
                    <p>Happy Students</p>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6">
                <div class="counter-item">
                    <i class="ti-microphone-alt"></i>
                    <div class="count">
                        <span class="counter h2">3</span>
                    </div>
                    <p>Creative Events</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Why US start -->
<section class="about-section section-padding">
    <div class="container">
        <div class="section-heading center-heading text-center">
            <span class="subheading">Our values</span>
            <h3>Why Choose Tech On Learning <br> to Learn New Skills?</h3>
        </div>
        <div class="row align-items-center" style="padding-top: 35px;">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="about-text-block">
                        <i class="bi bi-film"></i>
                        <h4>Relevant and In-Demand Courses</h4>
                        <p>Our course catalog is meticulously curated to offer you the most relevant and in-demand skills for today's job market </p>
                    </div>
                    <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Expert Instructors</h4>
                        <p>Our instructors are industry experts who bring a wealth of knowledge and practical experience to the table </p>
                    </div>
                    <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Flexible Learning Options</h4>
                        <p>We understand that you have a busy schedule and other commitments. That's why we offer flexible learning options to fit your lifestyle </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="about-text-block">
                        <i class="bi bi-film"></i>
                        <h4>Hands-on Projects and Practical Experience</h4>
                        <p>Learning new skills is not just about theory; it's about applying your knowledge in real-world scenarios</p>
                    </div>
                    <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Networking and Collaboration Opportunities</h4>
                        <p>We provide a vibrant learning community where you can connect with like-minded individuals, expand your professional network, and collaborate on projects </p>
                    </div>
                    <div class="about-text-block">
                        <i class="bi bi-support"></i>
                        <h4>Career Support and Guidance</h4>
                        <p> We're not just here to teach you new skills; we're here to support your career advancement </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- Courses -->
<section class="section-padding popular-course bg-grey" style="background: rgba(var(--co-a-rgb), 1); padding-bottom: 100px;">
    <div class="container">
        <div class="row align-items-center white-text">
            <div class="col-lg-6">
                <div class="section-heading">
                    <span class="subheading">Top Trending Courses</span>
                    <h3>Our Popular Online Courses</h3>
                </div>
            </div>
        </div>

        <div class="row">
            {% for i in latest_courses_obj %}
            <div class="col-lg-4 col-md-6">
                {% include '_includes/courses.box-1.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if teacher_obj %}
<!--  Course INstructors -->
<section class="team section-padding bg-grey" id="team">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <span class="subheading">Best Expert Trainer</span>
                    <h3>Our Professional trainer</h3>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="course-btn text-lg-right"><a href="{% url 'contact:teacher' %}" class="btn btn-main"><i class="fa fa-user mr-2"></i> Become a teacher</a></div>
            </div>
        </div>

        <div class="row">
            {% for i in teacher_obj %}
                {% if i.courses_teacher_rel.all %}
                <div class="col-lg-3 col-md-6">
                    {% include '_includes/team.box.html' %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if testimonials_obj %}
<!-- Testimonials -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading text-center">
                    <span class="subheading">Testimonials</span>
                    <h3>Learn New Skills to Go Ahead for Your Career</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonials-slides owl-carousel owl-theme">

                    {% for i in testimonials_obj %}
                    <!-- Punaise -->
                    <div class="review-item">
                        <div class="client-info">
                            <i class="bi bi-quote"></i>
                            <p>{{ i.message | truncatechars:230 }} </p>
                            <div class="rating">
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                                <a><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                        <div class="client-desc">
                            <div class="client-img">
                                <img src="{{ i.avatar_thumb_small.url }}" alt="{{ i.name }} - Techonlearning" class="img-fluid">
                            </div>
                            <div class="client-text">
                                <h4>{{ i.name }} </h4>
                                <span class="designation">{{ i.title }} </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}