{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block content %}

<!-- 404 page intro start -->
<section class="page-404">
    <div class="page-404-bg">500</div>

    <!-- container start -->
    <div class="container">
    <!-- row start -->
    <div class="row">
        <div class="col-xl-6 offset-xl-1 col-md-8">
        <div class="page-404-content">
            <h1 class="page-404-title">
            Page not found
            </h1>
            <p class="page-404-text leading-4xl mt-24 md:mt-16">
            The page you were looking for doesn't exist. You may have mistyped the address or the page may have been moved.
            </p>
            <a class="page-404-btn button -md -outline-black text-black mt-32 md:mt-20" data-barba href="home-1.html">
            Take me home
            </a>
        </div>
        </div>
    </div>
    <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- 404 page intro end -->



{% endblock %}