/*[ CONTACT ]
///////////////////////////////////////////////////////////
*/

header{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    -ms-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    -moz-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    -o-box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/* Page Header */

.pgh_nav{
    padding-top: 70px;
}
.pgh_nav .pgh_nav_flex{
    gap: 20px;
    display: flex;
    justify-content: center;
}
.pgh_nav_link{
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    border-top: 1px solid transparent;
}
.pgh_nav_link.active{
    background-color: #fff;
    color: var(--co-a);
    border-color: var(--co);
}
.pgh_nav_link.active:hover{
    color: var(--co-a);
}
.pgh_nav_link:hover{
    color: #fff;
    text-decoration: underline;
}

/* Form */
.contact-form-cos{
    padding-top: 50px;
}
.contact-form-cos .container{
    width: 700px;
}
.cf_box_ring{
    width: 100%;
    padding: 40px;

    border-radius: 10px;
    overflow: hidden;

    display: block;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cf_form_group{
    margin-bottom: 10px;
}
.cf_form_group label.cf_form_group_label{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.cf_form_group .cf_form_group_field{
    width: 100%;
    display: block;
}
.cf_form_group_field .cf_form_group_field_input{
    display: block;
    width: 100%;
    height: 50px;
}

.cf_form_group_btn{
    padding-top: 20px;
}
.cf_form_group_btn button{
    background-color: var(--co);
    display: block;
    width: 100%;
}
.cf_form_group_btn button:hover{
    background: var(--co-a);
}

/*[ COURSES / DETAIL ]
///////////////////////////////////////////////////////////
*/

.course-single-wrapper .container{
    min-height: 350px;
}

.course-price{
    font-size: 20px;
    margin: 0;
}
.course-sidebar .course-price-wrapper .course-price h4 span{
    font-size: 25px;
}

.profile-img img{
    width: 100%;
    height: 100%;

    pointer-events: none;

    display: block;
}

.course-block .course-content.nopa{
    padding: 5px 20px 15px 20px;
}
.course-img{
    margin-bottom: 0;
}
.course-img a{
    display: inline-block;
    overflow: hidden;
}
.course-img a:hover img{
    opacity: .9;
    transform: scale(1.05,1.05);
}

.course-img img{
    width: 100%;
    object-fit: cover;
    pointer-events: none;

    border-radius: 0px;
    padding: 0;

    transition: 500ms ease all;
    -webkit-transition: 500ms ease all;
    -ms-transition: 500ms ease all;
    -moz-transition: 500ms ease all;
    -o-transition: 500ms ease all;
}

.course-style-2 .course-img .course-cat{
    background: #fff;
    color: var(--co-a);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ti_tiche{
    display: flex;
    align-items: center;
    gap: 8px;
}
.ti_tiche .left{
    display: inline-block;
}
.ti_tiche .left img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.ti_tiche .right .n-n{
    font-size: 100%;
    line-height: 1.2;
    padding-bottom: 0;
}

.team-socials a i:hover{
    background: var(--co)!important;
}
.team-socials a i.fb{
    background: #4267B2;
}
.team-socials a i.ig{
    background: #C13584;
}

/* Testimonials */

.testimonials-slides .owl-item.active.center .review-item .client-info {
    background: var(--co-a);
    border: 1px solid var(--co-a);
    border-top: 3px solid var(--co);
}
.testimonials-slides .owl-item.active.center .review-item .client-info:before {
    border-top: 30px solid var(--co-a);
    opacity: 1;
}

/* Others */
.counter-section {
    background: var(--co-a);
}
.counter-section:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../images/bg/bg-do2.png");
    opacity: .3;
}


/*[ FOOTER ]
///////////////////////////////////////////////////////////
*/

.footer .footer-socials{
    margin-bottom: 20px;
}
.footer .footer-socials a{
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 0;
}